# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# pytest cache
.pytest_cache/

# packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Environment
.env
